
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&family=Roboto+Mono&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #212529;
  color: #fff;
  height: 4em;
  display: flex;
  cursor:pointer;
  position:sticky;
  top:0;
  z-index:100;
}
.logo {
    padding-left:15px;
    object-fit:contain;
}

.navbars {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color:#fffcf2;
  font-weight:bold;
  margin-right:-2em; 
}

.navbars ul {
    list-style: none;
    display: flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
    margin-right:30px;

}

.navbars ul  li {
  padding:10px;
}

.navbars .shoppingBag {
  height: 24px;
}

a:hover {
    color:#fb8500;
    transition:.5s;
}

/*Global items*/
h1, H2, h4, p {
  font-family:'Roboto Condensed', sans-serif;
  text-align:center;
} 

h1 {
  font-family:Roboto , 'Times New Roman', Times, serif;
}



.announcement {
  background-image:url('./images/MenSection/Latest/backgroundJeans.jpg');
  background-position:center;
  background-repeat: no-repeat;
  text-align:center;
  color:#f9f7f3;
  font-family:'Roboto ', monospace;
  padding:50px 50px;

}


.productsShowcasing {
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-direction:column-reverse;
  padding-inline-start:10px;
  padding-inline-end:10px;
  margin-top:20px;

}

.firstProducts, .secondProducts, .thirdProducts, .fourthProducts, .fifthProduct{
  display:flex;
  flex-direction:row;
  gap:20px;
  justify-content:center;
  align-items:center;
  cursor: pointer;
}

.product img {
  width:10em;
  border-radius:4px;
  padding:4px;
}

.product img:hover {
  box-shadow:2px 2px 5px black;
  transition:.5s;
 }

.description .price {
  background-color:#212529;
  color:#fefae0;
  width:8em;
  text-align:center;
  margin-top:-10px;
  font-size:1rem;
  margin-left:20px;
} 

.description .price:hover {
  background-color:white;
  color:#212529;
  transition: 0.5s;;
}

.productDescription {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 13px;
}


footer {
  background-color:#343a40;
  display:flex;
  justify-content:space-around;
  color:#dee2e6;
}

ul {
  list-style: none;
}

