
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #212529;
  color: #fff;
  height: 4em;
  display: flex;
  cursor:pointer;
}
.logo {
    padding-left:15px;
}

.navbars {
  display: flex;
  justify-content:space-around;
  flex-wrap:wrap;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ced4da;
  font-weight: bold;
}

.navbars ul {
    list-style: none;
    display: flex;
    justify-content:space-between;
    gap:20px;
}

.navbars ul  li {
    margin-right:10px;
}

.navbars .shoppingBag {
  height: 24px;
  margin-left: 40px;
}

a:hover {
    color:#f0ebd8;
    transition:.5s;
}

h1, h4, p {
  text-align:center;
} 

h1 {
  font-family:Roboto , 'Times New Roman', Times, serif;
  color:#bc6c25;
}

.recommededItems {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.recommededItems .japaneseShirt {
  width:17em;
  border-radius:10px;
  box-shadow:1px 2px 5px;
}

.itemDescription {
  color:#003049;
}